<!DOCTYPE html>
<html>
    <head>
        <title>Add Location</title>
        <link rel="stylesheet" href="/static/add_place.css">
    </head>
    <body>
        <div>
            <div class="menu">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a class="active" href="/add_location">Add Location</a></li>
                    <li><a href="/add_link">Add Link</a></li>
                </ul>
            </div>
            <div class="form-page">
                <form action="/submit" method="post" enctype = "multipart/form-data">
                    <div>
                        <label for="name">Location Name: </label>
                        <input type="text" id="name" name="name">
                    </div>
                    <div>
                        <label for="description">Description: </label>
                        <input type="text" id="description" name="description">
                    </div>
                    <div>
                        <label for="capacity">Capacity: </label>
                        <input type="number" id="capacity" name="capacity">
                    </div>
                    <div>
                        <label for="availability">Availability: </label>
                        <select name="availability" required="required">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option> 
                        </select>
                    </div>
                    <div>
                        <label for="image">Product image:</label>
                        <input type="file" id="image" name="image">
                    </div>
                    <div>
                        <button type="submit">Add Location</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>