<!DOCTYPE html>
<html>
    <head>
        <title>Edit Location</title>
        <link rel="stylesheet" href="/static/add_place.css">
    </head>
    <body>
        <div class="main-page">
            <div class="menu">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/add_location">Add Location</a></li>
                    <li><a href="/add_link">Add Link</a></li>
                </ul>
            </div>
            <div class="form-page">
                <form action="{{ url_for('update_location', location=place['name']) }}" method="post" enctype = "multipart/form-place">
                    <div>
                        <label for="name">Location Name: </label>
                        <input type="text" id="name" name="name" required="required" value="{{place['name']}}">
                    </div>
                    <div>
                        <label for="description">Description: </label>
                        <textarea type="text" id="description" name="description" required="required">"{{place['description']}}"</textarea>
                    </div>
                    <div>
                        <label for="capacity">Capacity: </label>
                        <input type="number" id="capacity" name="capacity" required="required" value="{{place['capacity']}}">
                    </div>
                    <div>
                        <label for="availability">Availability: </label>
                        <select name="availability" required="required">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option> 
                        </select>
                    </div>
                    <div>
                        <label for="inmage">Product image:</label>
                        <input type="file" id="image" name="image"> 
                        <image src="/static/images/{{ place['image'] }}" style="width:100px;display:block;margin:auto auto" />
                    </div>
                    <div class="button">
                        <button type="submit" name="submit" value="update">Update Location</button>
                        <button type="submit" name="submit" value="delete">Delete Location</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>