<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
    </head>
    <body>
        <div class="main-page">
            <div class="menu">
                <ul>
                    <li><a class="active" href="/">Home</a></li>
                    <li><a href="/add_location">Add Location</a></li>
                </ul>
            </div>
            <div class="location-page">
                <div class="location-list">
                    {% for place in places %}
                    <div class="location">
                        <div class="location-image">
                            <image src="/static/images/{{ place['image'] }}" /> 
                            <div class="overlay">
                                <div class="overlay-text">{{ place["Description"] }}</div>
                            </div>
                        </div>
                        <div class="location-info">
                            <div class="location-name">
                                <a href="{{ url_for('view_location', location=place['Name']) }} "> {{place["Name"]}}</a>
                            </div>
                            <div class="location-description">{{place["Description"]}}</div>
                            <div class="location-capacity">{{place["Capacity"]}}</div>
                            <div class="location-availability">{{place["Availability"]}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>