<!-- Demo for form elements with layout-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/form1.css">
        
    
    
    </style>
</head>
<body>
    <form action="/submit" method="POST">
        <div class="row"><label for="name"> Name </label> <input type="text" id="name" name="name" ></div>
        <div class="row"><label for="email"> Email </label><input type="text" id="email" name="email"></div>
        <div class="row"><label> Password  </label><input type="text" name="password"></div>
        <div class="row"> <input id="bu" type="submit"></div>
    </form>
    
</body>
</html>