<!DOCTYPE html>
<html>
    <head>
        <title>bmi calculator </title>
    </head>
    <body>
        <form action="\calculate" method = "POST">
            <h1>BMI Calculator</h1>
            <table>
                <tr>
                    <th>Enter height in m</th>
                    <th>Enter weight in kg</th>
                </tr>
                <tr>
                    <td><input id="he" name="h" type="text"></td>
                    <td><input id="we" name="w" type="text"></td>
                </tr>
            </table>
            <input id="but" type="submit">
        </form>
    </body>
</html>